.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Para centralizar verticalmente */
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.error {
    color: red;
}
